<div style="height: 100px;">

</div>
<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-9">
      <h1>Fibonacci Sequence</h1>
    </div>
    <div style="height: 50px; width: 100%;"></div>
    <div class="col-4">
        <input type="number" id="Number" placeholder="Position" class="form-control" #first>
    </div>
    <div class="col-4">
        <h5>{{sum}}</h5>
    </div>
    <div class="col-4">
        <button type="submit" (click)='calculate(first.value)'>Calculate</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>